@import url("https://fonts.googleapis.com/css?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
  
html {
  text-align: center;
  font-family: 'Trade Winds';
  background-color: #181818;
  color: white;
  text-shadow: 1px 1px 2px #B22222;
}
body {
  margin-top: 10%;
}

button {
  height: 150px;
  width: 150px;
  font-size: 25px;
  border-radius: 5px;
  border: solid 2px #B22222;
  background-color: white;
  font-family: 'Trade Winds';
}

button:active {
  height: 150px;
  width: 150px;
  font-size: 25px;
  border-radius: 5px;
  border: solid 2px #FF5733;
  background-color: #B22222;
  color: white;
}

h6 {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 16px;
}

h1 {
  font-weight: lighter;
  font-size: 30px;
}

p {
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: white;
}

.hov:hover{
  text-shadow: 1px 1px 2px white;
}